@font-face{
	scr:url("avnenirFont/Avenir-Next-LT-Pro-Bold.ttf");
	font-family: avneirNextLTPro-Bold;
	font-style: normal;
	
}
@font-face{
	scr:url("avnenirFont/AvenirNextLTPro-Regular.otf");
	font-family: avneirNext;
	font-style: normal;
	
}
body {
   
    font-size: 14px;
    font-weight: 400;
    color: #666;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    background-color: #fff;
    font-family: avneirNext;

}
/*************Menu*****************************/
.c4s_menu .navbar-nav .nav-link{
	letter-spacing: 0px;
	color: #DBDBDB;
	text-transform: uppercase;
	opacity: 1;
	font-size: 14px;
	margin-right: 8px;
	margin-top: 55px;
}

.c4s_menu .navbar{
	height: 97px;
}
.c4s_menu .navbar-brand {
	margin-top: 5px;
margin-left: 70px;

}
.c4s_menu .navbar-nav .cenxel_logo .nav-link{
	
margin-top: 5px!important;
margin-right: 90px;
}

.hrLine{
	width:2px ;
	height: 100%;
	
	background-color: #B7B7B7;
	display: inline-block;
}
/**********bnnr********************************/
.c4s_index_bnr{
	background-color: #2B317E;
	padding: 

}
.bnnr_cont{
	padding:200px 10px 150px 100px;
}
.bnnr_cont .fltRight{
	float: right;
}
.bnnr_cont .dwnldBrochure{
	color: #FFFFFF;
	text-transform: uppercase;
	vertical-align: bottom;
	font-size: 12px;
}
.bnnr_cont h2{
	text-transform: uppercase;
	font-family: avneirNextLTPro-Bold;
	font-weight: 100;
letter-spacing: 0;
text-align: left;
letter-spacing: 0px;
color: #00A1CF;
opacity: 1;
}
.bnnr_cont h1{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-family: avneirNextLTPro-Bold;
}
.bnnr_cont p{
	color: #ffff;
	font-weight: 300;
}

/**.c4s_index_bnr .bnr_img img{
	height: auto;
	width: 90%;
}**/
.bnr_ftr{
	background-color: #000;
}
.bnr_ftr h3{
	color: white;
    text-transform: uppercase;
    margin: 60px 250px;
    text-align: center;
}


/**************sec1******************/
.bnr_img {
	align-self: center;
}
.sec1{
	padding: 100px;
}
.sec1 .sec1_det{
	padding: 10px 25px;
}
.sec1 h2{
	text-transform: uppercase;
	
	font-weight: 400;
letter-spacing: 0;
text-align: left;
letter-spacing: 0px;
color: #BB216B;
opacity: 1;
}
.sec1 h1{
text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
text-align: left;
letter-spacing: 0px;
color: #2C2C2C;
opacity: 1;
font-family: avneirNext;
}
.sec1 p{
	color: #262626;
	font-weight: 300;
}
#summary {
  font-size: 14px;
  line-height: 1.5;
}
#summary{
	padding: 0px;
	
}
#summary p.collapse:not(.show) {
    height: 333px !important;
    overflow: hidden;
  margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

#summary p.collapsing {
    min-height: 333px !important;
}

#summary a.collapsed:after  {
    content: '+';
    float: right;
    font-size: 35px;
}
.pnk #summary a.collapsed:after , .pnk #summary a:not(.collapsed):after{
	color: #BB216B!important;
}
.ylw #summary a.collapsed:after,.ylw #summary a:not(.collapsed):after{
	color: #FCAE00!important;
}
#summary a:not(.collapsed):after {
    content: '-';
    float: right;
    font-size: 35px;
}
/**********technology********************************/
.techRow{
background-color: #2B317E;

}
.techRow .sec1_det h1{
	text-transform: uppercase;
	
	font-weight: 700;
letter-spacing: 0;
text-align: left;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.techRow .sec1_det p{
	color: #ffff;
	font-weight: 300;
}
/**********Y open c4s****************/
/*
.yOpenC4S{
background-image: url("../images/whu_c4s@2x.png");
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.yOpenC4S{
	background-color: #2b2c2d;
}

.yOpenC4S_det h1{
	color: #FFFFFF;
	text-transform: uppercase;
}
.yOpenC4S_det p{
	color: #A8A8A8;
    padding-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
	
}
h4{text-align:center;margin:30px 0px;color:#444;}
.mt-10{margin-top:20px;}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;
}
#accordion .panel-title{
	text-align: initial;
	margin: 0;
}

#accordion .panel-title a:hover ,#accordion .panel-title a:active, #accordion .panel-title a:focus{
	color: #FFFFFF !important;
}
#accordion .panel-title a{
    display: block;
    padding: 12px 15px;
    color: #FFFFFF !important;
    font-size: 12px;
    font-weight: 400;
    
    
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
    transition: all 0.5s ease 0s;
    border-bottom: 1px solid #DBDBDB;
}
#accordion .panel-title a.collapsed{
    box-shadow: none;
    color: #ffff;
    /***box-shadow: 0 1px 0px #DBDBDB;**/
    border-bottom: 1px solid #DBDBDB;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 900;
    
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
   
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    color: #DBDBDB;
    transform: rotate(0);
}
#accordion .panel-title a:after{
    content: "";
    
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 55px;
}
#accordion .panel-body{
    padding: 0px 15px;
    border: none;
    font-size: 12px;
    color: #615f5f;
    line-height: 27px;
}
#accordion .panel-body p{
	padding: 5px 0 0;
	text-transform: none;
	line-height: 14px;
}
/**********contact us********************************/

.cntus_frm{
	background-color: #DBDBDB;
	padding: 100px 80px;
}
.cntus_frm h1{
	text-transform: uppercase;
	font-weight: 700;
}
.cntus_frm .list-group ul{
	padding: 0;
	font-size: 12px;
	list-style: none;
	font-weight: 600;
	margin-top: 20px;
}
.cntc_frm_det {
	margin-top: 65px;
}
.cntus_frm .bttn1{
	float: right;
	color: #BB216B;
	text-transform: uppercase;
}
 .cntus_frm .form-control{
	border-radius: 0;
	text-transform: uppercase;
	font-size: 14px;
}
.emPdng{
	padding-left: 0;
}


#featuresSectn .sec1_det a{
	color: #BB216B;
	text-transform: uppercase;
	font-weight: 500;
}
/**********footer********************************/
.ftr{
	background-color: #434343;
	padding: 20px 30px;
}
.vline {
	padding: 0;
}
.vrtLine1{
	border-right: 2px solid #DBDBDB;
	border-left: 2px solid #DBDBDB;
}
.vrtLine{
	border-right: 2px solid #DBDBDB;
height: 90px;
}

.ftrDscrptn p{
	font-size: 10px;
	color: #DBDBDB;
}
.footerMainLinks{

height: 90px;
}
.footerSocialMedia .list-group ul{
	list-style: none;
    padding: 0;
    
    
}
.footerSocialMedia .list-group ul li a
{
	font-size: 20px;
	color: #DBDBDB;
	
}
.footerMainLinks .list-group ul{
	list-style: none;
    padding: 0;
    line-height: 14px;
    font-size: 10px;
	color: #DBDBDB;
    
}
.footerMainLinks .list-group ul li a
{
	font-size: 10px;
	color: #DBDBDB;
	
}
.ftrLinks , .footerSocialMedia{
		padding: 0px;
	}
/******************************************/
.fList{
	text-transform: uppercase;
	color: #000;
	background-color: #fff;
	padding: 80px;
}
.fList_det{
	padding: 50px;
}
.fList_det h1, h6{
	color:#0E346E;}
.fList_det ul{
	color: #434343;
	font-weight: 500;
}	
.fList_det a{
	color: #BB216B;
    font-weight: 700;
    float: right;
    text-align: center;
   

}
/*****************Cenxel.html*************************/
.cnxl_det{
	padding: 70px 80px;
}
.cnxl_det .cnxl_det_pdg{
	padding: 30px;
}
.cnxl_det .cnxl_det_pdg h1{
	text-transform: uppercase;
	color: #2C2C2C;
}
.cnxl_det .cnxl_det_pdg h6{
	text-transform: uppercase;
	color: #656565;
}
.cnxl_det .cnxl_det_pdg p{
	color: #262626;
}
.cnxl_det .cnxl_det_pdg a{
	float: right;
	color: #656565;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-color: none!important;
}

.cnxl_img{
	padding: 0;
}
/*****Small devices (landscape phones, 576px and up)*****/

@media (max-width: 576px) { 
	.c4s_menu .navbar-nav{
		background-color: #2C2C2C!important;
		opacity:.9;
	}
.c4s_menu .navbar-nav .nav-link{
	color: #Ffff !important;
	margin: 5px;
	font-weight: 500;
	text-align: center;
	color: #656565;
	border:1px solid #656565;


}
.c4s_menu .navbar-nav .cenxel_logo .nav-link{
	margin: 5px!important;
}

.bnnr_cont {
    
    padding: 120px 55px 70px;
}


	
/*************/
 .cnxl_det{
	padding: 40px;
 }
 .fList{
 	padding: 20px;
 }
 .fList_det{
	padding: 40px;
}
 }

/********** Medium devices (tablets, 768px and up)******/
@media (max-width: 767px){
	.ftrDscrptn p {
    margin-bottom: 0;
}
.logo1{
	padding: 5px 0px;
}
	.ftrDscrptn{
		margin: 10px;
	}

.c4s_index_bnr{
background-image: url("../images/mask_grp@11x.png");
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bnr_ftr h3 {
    
    margin: 25px;
    
    font-size: xx-small;
}
.bnnr_cont h1 {
	font-size:xx-large;}

.sec1 {
    padding: 24px;
}
.sec1 .sec1_det {
    padding: 10px 20px;
}
.sec1 h2 {
        font-size: xx-large;
}
.sec1 h1 {
        font-size: xx-large;
}
.cntus_frm {
    
    padding: 70px 20px;
}
.cntus_frm h1 {
   
    font-weight: 800;
    font-size: x-large;
}
.cntc_frm_det {
	padding: 0px;
    margin-top: 30px;
}
.emPdng {
    padding-left:15px;
}
.yOpenC4S_det h1, #featuresSectn .sec1_det h2{
	font-size: x-large;
	font-weight: 500;
}
#yOpenc4sSectn .sec1_det {
	padding: 10px 0px;
}
#accordion .panel-title a {
	padding: 12px 0px;
	font-size: 10px;
}

#accordion .panel-body {
    padding: 0px 2px;}
.yOpenC4S_det p{
	    padding-right: 10px;
}


.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover{
	outline-color: #434343!important;
}
}

@media (min-width: 768px) {
	.c4s_index_bnr{
background-image: url("../images/mask_grp@2x.png");
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}}
@media (min-width: 768px) and (max-width: 991px){
	.vrtLine1, .vrtLine{
	height: 100px;
}
	.ftr{
		padding: 20px 10px;
	}
	.ftrLinks{
		padding: 0;
	}
	.logo1 img{
		margin-top: 30px;
    }
	.logo2 img{
		margin-top: 30px;
    	margin-left: 10px;

	}
	.ftrDscrptn p{
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 8px;
	}
	.footerMainLinks , .footerSocialMedia{
		padding: 0px;
	}
	.footerMainLinks .list-group , .footerSocialMedia .list-group{
		margin-top: 15px;
	}
	.footerMainLinks .list-group ul{
		font-size: 9px;
	}
	.sec1 {
    padding: 80px 60px;
}
.sec1 h1{
    font-size: xx-large;
    font-weight: 700;
}

	.sec1 .sec1_det {
    padding: 10px 10px 10px 10px;
}

.yOpenC4S_det p{
	padding-right: 25px;
}

 .c4s_menu .navbar-nav .cenxel_logo .nav-link {
    margin-top: 12px!important;
    margin-right: 0px;
}
.c4s_menu .navbar-nav .nav-link {
    
    font-size: 11px;
    margin-right: 3px;
    margin-top: 60px;
    font-weight: 400;
}
.bnnr_cont {
    padding: 150px 60px;
}
.bnr_ftr h3 {
    
    margin: 60px 90px;
    
    font-size: medium;
}
}
/********** Large devices (desktops, 992px and up)******/
@media (max-width: 992px) {
.c4s_menu .navbar-brand {
    margin-top: 5px;
    margin-left: 45px!important;
}}
@media (min-width: 992px) and (max-width: 1199px){
	.ftrLinks , .footerSocialMedia{
		padding: 0px;
	}
.vrtLine1, .vrtLine{
	height: 100px;
} 
.ftrDscrptn p{
	margin-bottom: 0;
}
.logo1 img{
	margin-top: 15px;
}
	.c4s_menu .navbar-nav .cenxel_logo .nav-link {
    margin-top: 12px!important;
    margin-right: 40px;
}
.c4s_menu .navbar-nav .nav-link {
    
    font-size: 12px;
    margin-right: 5px;
    
   
}
.bnnr_cont{
	padding: 150px 80px;
}
.bnr_ftr h3 {
    
    margin: 60px 180px;
    
    font-size: larger;
}
.sec1 h1{
    font-size: xx-large;
    font-weight: 700;
}
.sec1 .sec1_det {
    padding: 10px 25px;
}


}

/**********Extra large devices (large desktops, 1200px and up)******/
@media (min-width: 1200px) { ... }


/******************************************/