body {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    background-color: #fff;
	  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.no-padding{
	padding: 0px !important;
}
/*scroll icon for banner*/
.icon-scroll{
  top: 90%;
}
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left:50%

}
.icon-scroll {
    width: 45px;
    height: 70px;
    margin-left: -20px;
    bottom:20px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 35px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative;
        margin-top: -80px;
        display: none !important;
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 12px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(35px)
    }
}

/**********************Header***************************/
.finrasHeader{
	background-color: #1296ad;
    padding-right: 120px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: .8px;
    opacity: 1;
    
}
.headerItem .fa-stack{
	font-size: 8px;
}
/**********************Menu*******************************/

.bg-dark{
  background-color: transparent!important;
  transition:0.75s ease;
}
.bg-dark.scrolled{
  background-color: #1296ad !important;
  opacity: .8;
}
/* #navbarSupportedContent{
      margin-top: 40px;
} */
.fin_nav {
	/*margin-top: 33px;
  height: 80px;*/
  padding: 25px 120px 0px 120px;
  transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.navbar-toggler-icon{
	color: white;
}
.fin_nav .navbar-nav .nav-link{
  color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .8px;
    text-transform: uppercase;
    padding: 0px 14px;
}





 .navbar-brand img{
	 width: 200px;
    height: 150px;
}



.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {

    pointer-events: none;
}

.dropdown-item {
	font-size: 14px ;
}
.dropdown-menu {
	padding: 0 !important;
	}

.search-form{
	position: relative;
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px !important;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  padding-bottom: 15px;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: 0px;
    right: -1px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}


::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #fff;
}


/*********************Finras Footer*****************************************/
.ftr{
	background-color: #383838;
padding-top: 10px;
	color: #FFFFFF;
}
.txt1{
margin-bottom: 0px;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 300;
letter-spacing: .5px;
text-transform: uppercase;
}
.hrLine{
	width: 100px;
	height: 2px;
	background-color: #1296ad;
	display: inline-block;
}
.footerMainCol1 a{
	color: #DEDEDE;
	text-decoration: none;
}
.footerMainCol1 p{
	color: #DEDEDE;
	font-size: 10px;
  padding-right: 60px;
	cursor: pointer;
  margin-bottom: 0px;
}
.footerMainLinks{
		padding-top: 15px;
}
.footerMainCol1 img{
	margin-bottom: 10px;
}
.footerMainLinks h6{
	font-family:  'Poppins', sans-serif;
	color: #1296ad;
	text-transform: uppercase;
	text-align: left;
  letter-spacing: .8px;
  font-size: 12px;
}
.footerMainLinks ul{
	padding-left: 2px;
	color: #fff;
	text-transform: uppercase;
	font-size: 8px;
    letter-spacing: .95px;
}
.footerMainLinks .list-group li{
	list-style-type: none;
	
	}
.footerMainLinks ul a{
	color: #fff;
}
.txtftr li{
padding-bottom: 3px !important;
  margin: 5px 0 !important;
}
.txt2{
	text-transform: lowercase !important;
}
.imgSz img{
  width: 14px;
}
.sptxt1{
	padding-left: 19px;
}
.sptxt2{
	padding-top: 5px;
}

.mediaIcons i{
	padding-right: 20px;
	font-size: 13px;
}
/* ========== index.html ========== */
/***********index Page Banner*******/
.fb{
  padding: 0;
    position: relative;
    z-index: 0;
}
.fb .mdevice img, .fb .sdevice img ,.fb .ldevice img{
	width: 100%;
  height: 100vh;
}
.rbn{
    position: absolute;
    width: 100%;
    
    top: 200px;

}

/******finras banner******/

.bnnrHeading{

    top: 30px;
    color: white;
    
}
.bnnrHeading h3{
	font-size: 30px;
  font-weight: 700;
}
.bnnrHeading p{
	padding-right: 70px;
    text-align: left;
    opacity: 1;
    font-size: 16px;
    letter-spacing: 0px;
}
.bnnrDet{
position: relative;
margin-left: 70px;
}
#orSeparator {
	position: absolute;
  
}

#socialSeparatorTop {
	
    margin-left: 30px;
    height: 50px;
    width: 3px;
    background-color: #A7FCFF;

}

#or {
	
    
    width: 40px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    padding: 12px 0px;
    color: #f8f9fab5;
    font-weight: bold;
    text-align: center;

}

#socialSeparatorBottom {
    margin-top: 10px;
    margin-left: 30px;
    height: 50px;
    width: 3px;
	background-color: #A7FCFF;
}


.orSptr li{
  list-style-type: none;
  padding-bottom: 3px;
  margin: 8px 0;
  color: #A7FCFF;
}
/***************Our Ventures********************************/
.ourVentures{
  margin-top: 30px;
  margin-bottom: 30px;
}
.ourVentures h2{
color: #54abc0;
    text-transform: uppercase;
    margin: 20px;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.venturesLogo{
	margin: 30px 0;
}
.imageBordr{
	position: relative;
}
.imageBordr .septr{
	position: absolute;
    top: 15px;
    right: 0px;
    height: 80px;
    width: 3px;
    background-color: #54abc0;
}
.venturesLogo .logo img{
	width: 100%;
}
/**********************About Us*******************************/
.r1{
  padding-top: 50px;
}
.r1 img{
	width: 100%;
}
.abtUs{
	position: relative;
  margin-bottom:100px;
}
.abtUs h2{
	color: #54abc0;
    text-transform: uppercase;
    margin: 20px;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.abtUs a{
	position: absolute;
    float: left;
    width: 100px;
    text-align: center;
    padding: 5px;
    background: #54abc0;
    color: white;
    border-radius: 15px;
    bottom: 5px;
}

/**********************Our Services*******************************/
.sec1{
position: relative;
    background-color: #54abc0;
    width: 100%;
    padding: 20px 0 180px 0;

}
.sec1:before{
	content: '';
    width: 100%;
    height: 118px;
    transform: skewY(-5deg);
    right: 0px;
    top: -58px;
    position: absolute;
    background-color: #54abc0;


}
.serv1{
	margin: 20px;
}
.cardCol{
	padding: 10px 30px;
}
.card{
border-radius: 1rem;
padding: 10px;
}
.card img{
	margin-top: 8px;
    align-self: center;
	width: auto;
    height: 75px;
    
}
.card-img-top {
    width: 45%;
    }
 .card-body{
 	position: relative;
 padding: 1rem;
 height: 210px;
 
}
.card-body h6{
	font-family: 'Poppins', sans-serif;
	padding-right: 20px;
    color: #1296AD;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
 .card-body p{
 	font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #42495B;
    
    text-align: left;
    font-weight: 600;
 }
  .cardCol .card-body a{
 	float: right;
    right: 10px;
    width: 100px;
    font-weight: 200;
    padding: 5px 2px;
    background: #53B6B9;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 15px;
    font-size: 13px;
    position: absolute;
    text-transform: uppercase;
    bottom: 10px;
}
.cardCol .card-body a:hover, .cardCol .card-body a:active,
 .cardCol .card-body a:focus{

text-decoration: none;
background:white!important;
color: #53B6B9!important;
border: 2px solid #53B6B9;
}
 .sec1 .climb{
 	position: absolute;
    bottom: 190px;
    right: 100px;
 }
 .sec1 .climb img{
 	    height: 340px;
 }
 .sec1 h2{
 	color: #A7FCFF;
    text-transform: uppercase;
  	font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 600;
 }
 .hd1 h4{
 color: white;
    margin: 22px 0;
    padding: 75px 0;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


/**********************Quality Policy*******************************/
.sec2{
	background-color: #5A5A5A;
	position: relative;
	width: 100%;
	padding-bottom: 50px;
	
}
.sec2:before{
	content: '';
    width: 100%;
    height: 180px;
    transform: skewY(5deg);
    left: 0px;
    top: -118px;
    position: absolute;
    background-color: #5A5A5A;


}
.qltyImg{
  text-align: center;
}
.qltyplcy h1{
	color: #A7FCFF;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.qltyplcy p{
	color: white;
	font-size: 14px;
}
.qltyplcy a{
	float: left;
    margin-top: 20px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    background: #54abc0;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 13px;
    border-radius: 25px;
    
}
.qltyplcy a:hover, .qltyplcy a:active,
 .qltyplcy a:focus{

text-decoration: none;
background:white!important;
color: #54abc0!important;
border: 2px solid #54abc0;
}
/**********************agriculture*******************************/

 .rbntop{
  padding: 0;
    position: relative;
    z-index: 0;
  }
  .rbntop img{
    width: 100%;
    height: 100%;
  }
.txtMrgn1{
  margin-top: 0!important;
}
.bnnrHeadingServices h3{
  font-size: 42px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-top: 30px;
    padding-left: 35px;
}
  .example , #myDIV {
  
    width: 100%;
    overflow: scroll;
    padding: 0px 30px;
    margin: 10px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.contHeight2{
  height: 280px;
  }
 .contHeight1{
  height: 375px !important;
}
.pptyMngmt .example , .pptyMngmt #myDIV {
  padding: 0!important;
}
#content {
  height: 800px;
  width: 100%;
  
}
#content p{
  font-size: 16px;
}

.updownBttn button{
  border: none;
    background: transparent;
    font-size: 25px;
    color: #818276;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

.example{
  -moz-scrollbars-none;
}
/* Hide scrollbar for IE and Edge */
.example {
    -ms-overflow-style: none;
}
.scroll_text{
  height:350px;
  overflow:auto;
  padding:0px 15px;
}
.scroll_text::-webkit-scrollbar {  
    width: 8px;  
}  
.scroll_text::-webkit-scrollbar-track {  
    background-color: #E7E7E7
}  
.scroll_text::-webkit-scrollbar-thumb {  
   background-color: #1296AD;
border: 1px solid rgba(92, 92, 92, 0.5);
border-radius: 10px;
}  
.scroll_text::-webkit-scrollbar-thumb:hover {  
    background-color: #000;  
  
}  
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2.5); 
}

.zoom1:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.servDet{
  margin: 50px 0;
}
.enqMsg{
  background-color: #5A5A5A;
  padding: 50px;
}
.enqMsg legend{
color: #A7FCFF;
font-family:'Poppins', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    padding-left: 15px;
}
 .enqMsg textarea.form-control{
  height: 200px;
}

 .enqMsg .form-control{
  background-color: #DEDEDE;
  text-transform: uppercase;
  border-radius: 0;
 }

 .enqMsg .form-horizontal .form-group input::-webkit-input-placeholder {
  color: black;
}
.enqMsg .form-horizontal .form-group input:-moz-placeholder {
 
  color: black;
}
.enqMsg .form-horizontal .form-group input::-moz-placeholder {
 
  color: black;
}
.enqMsg .form-horizontal .form-group input:-ms-input-placeholder {
   color: black;
}
 .enqMsg .form-horizontal .form-group textarea::-webkit-input-placeholder {
  color: black;
}
.enqMsg .form-horizontal .form-group textarea:-moz-placeholder {
  
  color: black;
}
.enqMsg .form-horizontal .form-group textarea::-moz-placeholder {
 
  color: black;
}
.enqMsg .form-horizontal .form-group textarea:-ms-input-placeholder {
   color: black;
}
.subtn .btn-success{
  background-color: #1296AD;
    border: #1296AD;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 7px 30px;
    font-size: 14px;
    box-shadow: none;
}
.subtn .btn-success:hover, .subtn .btn-success:active,
 .subtn .btn-success:focus{

text-decoration: none;
background:white!important;
color: #1296AD!important;
border: 2px solid #1296AD;
}
.clr1{
    width: 183px;
    height: 183px;
    border-radius: 100px;
    background: #1296AD;
    position: relative;
    top: 33%;
    left: 25%;
}
.clr1 a{
    position: absolute;
    top: 31%;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
.clr1 h3{
line-height: 1;
}

/**********************contact us******************************************/
.cntclr{
   background-color: #1296ad;
}
.cntHdr{
    font-family: 'Poppins', sans-serif;
    color: #A7FCFF;
    text-transform: uppercase;
    font-size: 22px;
    
    padding: 150px 100px 5px 115px;
}
.cntHdr h4{
  margin-left: 15px;
}

.contactUsMsg{
  
  padding: 0px 100px;
}
.contactUsMsg legend{
color: #A7FCFF;
font-family:'Poppins', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    padding-left: 15px;
}
 .contactUsMsg textarea.form-control{
  height: 200px;
}

 .contactUsMsg .form-control{
  background-color: #DEDEDE;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 14px;
 }

 .contactUsMsg .form-horizontal .form-group input::-webkit-input-placeholder {
  color: black;
}
.contactUsMsg .form-horizontal .form-group input:-moz-placeholder {
 
  color: black;
}
.contactUsMsg .form-horizontal .form-group input::-moz-placeholder {
 
  color: black;
}
.contactUsMsg .form-horizontal .form-group input:-ms-input-placeholder {
   color: black;
}
.contactUsMsg .form-horizontal .form-group textarea::-webkit-input-placeholder {
  color: black;
}
.contactUsMsg .form-horizontal .form-group textarea:-moz-placeholder {
  
  color: black;
}
.contactUsMsg .form-horizontal .form-group textarea::-moz-placeholder {
 
  color: black;
}
.contactUsMsg .form-horizontal .form-group textarea:-ms-input-placeholder {
   color: black;
}

.contactUsMsg .subtn .btn-success{
  background-color: #5A5A5A !important;
    border: #5A5A5A !important;}
.contactUsMsg .sptxt1{
  padding-left:30px;
}
.contactUsMsg .subtn .btn-success:hover, .contactUsMsg .subtn .btn-success:active,
 .contactUsMsg .subtn .btn-success:focus{

text-decoration: none;
background:#DEDEDE!important;
color: #383838!important;
border: 2px solid #5A5A5A!important;
}
.cntImg{
  /* background-image: url("../images/contact-logo@2x.jpg"); */
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        margin-bottom: 67px;
}
.cntImg img{
  width: 100%;
}
.addrListgrp .list-group li{
list-style-type: none;
}
.addrListgrp .list-group ul{
  padding-left: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
    letter-spacing: .95px;
}
.locationMap{
  padding: 0;
}
.locationMap iframe{
  width: 100%;
}
/**********************Ppty selected page******************************************/
.pptyPage{
background-color: #1296ad;
height: 120px;
}
.shrPrnt img{
  width: 60%;
}
.shrPrnt .p-2{
padding: 10px 0!important;
}

.txt3{
  color: #1296AD;
  font-weight: 700;
  font-size: 23px;
  padding-right: 20px;
}
.txt4{
  color: white;
  margin-bottom: 20px;
  margin-left: 50px;
    font-size: 22px;
  font-weight: 600;
}
.txt5{
  color: #A82576;
  font-weight: 800;
  font-size: 21px;
}
.txt6{
  margin-top: 20px;
  color: #1296AD;
  font-weight: 700;
  font-size: 20px;
}
.txt10{
  margin-top: 20px;
  color: #1296AD;
  font-weight: 700;
  font-size: 20px;
}
.txt7{
  color: #A82576;
}
.txt8{
  font-weight: 600;
  font-size: 16px;
}
.txt9{
   font-weight: 500;
  font-size: 16px;
}
.txtMrgn{
  margin-bottom: 0;
}
.hrLine1{
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: inline-block;
}
.hrLine2{
  width: 30px;
  height: 3px;
  background-color: #1296AD;
  display: inline-block;
}
mark{
  background-color: #A7FCFF;
}
.table td{
  text-align: end;
}
.prnt{
  float: right;
}
.prnt img{
  padding: 0 5px;
  width: 28%;
}
.pptyDet{
  margin-top: 30px;
}

.carousel-indicators{
  justify-content: left;
  margin-left: 0;
}
.carousel-indicators li{
  width: 70px;
}
#carousel-thumb{
  padding-bottom: 40px;
}
.pptydet1{
  margin-top: 50px;
}
.pptyCntnr{
  background-color: #53B6B9;
  margin-top: 20px;}

.pptyList{
  padding: 70px;
}
.pptyCard .card{
  border-radius: 5px;
    padding: 5px;
}
.pptyCard .card img{
  margin-top: 0px;
    align-self: center;
    width: 190px;
    height: auto;
    
}
 .pptyCard .card-body{
    position: relative;
    padding: 10px 0;
    height: 124px;
}
.pptyCard .card-body h6{
  font-family: 'Poppins', sans-serif;
    padding-right: 0px; 
    color: #1296AD;
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
.pptyCard .card-body p{
    bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #42495B;
    text-align: left;
    font-weight: 600;
    position: absolute;
}
.pptyCard .card-footer{
  background-color: white!important;
  padding:.25rem .5rem!important;
}
.pptyCard .card-footer small{
  font-weight: 700!important;
  font-size: 85%!important;
}
.locationMap1{
  padding: 15px;
}
.locationMap1 iframe{
  width: 100%;
}
.submtReq{
  text-align: end;
}
.submtReq .form-group{
  border-bottom: 1px solid #53B6B9; 
}
.submtReq .form-group label{
  width: 60px;
  color: #A82576;
}
.submtReq .form-group img{
  vertical-align: text-bottom;
}

.formBckgd{
  background-color: #EDEFEF;
  border-radius: 0;
}




.txtPdng{
  padding-left: 50px;
}
/*********************Real Estate*******************************/
.headingRE{
  padding: 0 5px;
}
.headingRE2{
  padding: 0 15px;
}
.headingRE .sptxt3, ..headingRE2 .sptxt3{
  padding-left: 30px;
}
.headingRE h4,.headingRE h6, .headingRE2 h4,.headingRE2 h6 {
  color:#1296AD;
  font-weight: 600; 
}
.headingRE h6, .headingRE2 h6{
  margin-bottom: 10px;
}
.servCont{
  padding-top: 15px;
}

.pptyCntnr1{
  background-color: #1296AD;
  margin-top: 20px;
  padding-bottom: 100px;
}
.subtn1{
  text-align: center;
}
.subtn1 .btn-success{
  background-color: #DEDEDE !important;
    border: #DEDEDE !important;
     border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: 14px;
    box-shadow: 0px 3px 6px #7E76F947;
    color: #5A5A5A;
    margin-top: 40px;
  }
.subtn1 .btn-success:hover, .subtn1 .btn-success:active,
 .subtn1 .btn-success:focus{

text-decoration: none;
background:#5A5A5A!important;
color: #DEDEDE!important;
border: 2px solid #5A5A5A!important;
}
.sec3{
  background-color: #DEDEDE;
  position: relative;
  width: 100%;
  padding-bottom: 50px;
  z-index: 10;
}
.sec3:before{
  content: '';
    width: 100%;
    height: 180px;
    transform: skewY(5deg);
    left: 0px;
    top: -118px;
    position: absolute;
    background-color: #DEDEDE;


}
.pptyCard .card-body a{
  text-decoration: none;
}
}

/*********************ManpowerSupply*******************************/

.manpowerDet{
  margin-top: 30px;
  margin-bottom: 30px;
}
.manpowerDet h2{
color: #54abc0;
    text-transform: uppercase;
    margin: 20px;
    text-align: left;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.manpowerDet .manpowerDetLogo{
  margin: 30px 0;
}

.manpowerDet .manpowerDetLogo .imageBordr{
  margin-bottom: 20px;
}
.manpowerDet .manpowerDetLogo .imageBordr p{
  margin-top: 10px;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: smaller;
    font-weight: 600;
  color:gray;
}

.manpowerDet .manpowerDetLogo .logo img{
  width: 100%;
}
.manpowerDet2{
  margin-top: 30px;
  margin-bottom: 30px;
}
.mdetLine{
  width: 100%;
  height: 3px;
  background-color:  #54abc0;
  margin-bottom: 20px;
  
}


.manpowerDet2 .manpowerDetLogo{
  
  margin: 30px 0;
}


.manpowerDet2 .manpowerDetLogo .mdetails2 p{
    padding: 0 25px;
    margin-top: 10px;
    font-size: xx-small;
    text-align: justify;
    font-weight: 600;
    color: gray;
}

.manpowerDet2 .manpowerDetLogo .mdetails2 img{
 
  width: 50%;
}






/*********************BlogList*******************************/
.blogList{
  margin:30px 0;
}
.blogItem1{
  margin: 20px 0;
  border-bottom: 1px solid #768791;
}
.blogItem1 h6{
color: #1296AD;
 font-size: 20px;
 margin-top: 30px;
 text-transform: uppercase;
}
.blogItem1 p{
  margin-top: 1rem;
}
.bckgrd{
  background-color: #DEDEDE;
}
.blogItem2{
   margin: 40px 0;

}
.bckgrd .socMedia1 img{
 width: 70%!important;
}
.bckgrd .socMedia1 .p-2{
  padding: 0!important
}
.bckgrd h3{
  color: #1296AD;
 font-size: 28px;
 margin-top: 30px;
 text-transform: uppercase;
}
.blogItem2 h4{
 color: #1296AD;
 font-size: 26px;

}
.blogItem2 p{
  letter-spacing: .8px;
  font-size: 16px;
  line-height: 20px;
  
}
.btn1{
  margin-bottom: 30px;
}

/***************************/
.swiper-container {
      width: 100%;
      z-index:0;
      padding-top: 70px!important;
     padding-bottom: 150px!important;
      background-color: rgb(89, 182, 185);

    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px!important;
      height: 100%!important;
      flex-shrink:unset!important;

    }
.swiper-container-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-custom, .swiper-pagination-fraction{
bottom: unset!important;
}
.swiper-pagination-bullets{

}
/**********************media queries******************************************/
@media (max-width: 374px) { 
  .abtUs h2{
    margin: 20px 5px;
    font-size: 25px;
  }

.finrasHeader{
padding-right:0px !important;
font-size: 7px !important;
letter-spacing: .5px !important;
}
.headerItem .fa-stack {
    font-size: 6px;
}


 }
@media (min-width: 375px) and (max-width: 576px){ 

  .abtUs h2{
    margin: 20px 5px;
    font-size: 27px;
  }


}

@media (max-width: 767px){
  .fin_nav {
    padding: 10px 30px;
  }

  .fin_nav .navbar-nav .nav-link{
    font-size: 20px;
        padding: 10px 14px;
  }
    .dropdown-item {
      font-size: 20px;}
  
  
  .fb .ldevice{
    display: none;

  }
 .fb .mdevice{
    display: none;
    
  }
  .rbn .lmdevice, .rbntop .lmdevice {
    display: none;
  }
  .swiper-container {
     padding-top: 50px !important;
      padding-bottom: 100px !important;
   }
   .sec3:before{
    top: -25px;
   }
  .sec1 h2{
    text-align: center;
  }
  .cardCol{
    padding: 10px;
  }
  .qltyplcy h1{
    margin: 15px 0;
    font-size: 30px;
  }
  .mdHdg{
    display: none;
  }
  .hdrRw{
  height: 20px;
}
.p-2 {
    padding: .3rem !important;
}
.finrasHeader{
padding-right:0px !important;
font-size: 7px !important;
letter-spacing: .5px !important;
 }
 .headerItem .fa-stack {
    font-size: 6px;
}
  .abtUs p{
    margin-bottom: 3rem;
  }
.imageBordr{
  inline-size: fit-content;
}
.imageBordr .septr {
  display: none;
}
.venturesLogo .logo img {
    width: 250px;
}
	#navbarSupportedContent{
	background-color: #4f8896;
    padding: 12px 12px;
    margin-top: 0px;
    opacity: 1;
}
.rbn{
  top: 27%;
}
.bnnrHeading{
  padding-right: 0!important;
}
.bnnrHeading h3 {
    font-size: 9vw;
    text-transform: uppercase;
    margin-bottom: 3px;
    padding-left: 30px;
}

.bnnrDet {
	display: none;
}


	.navbar-brand img {
    margin: 10px;
    width: 120px;
    height: 60px;
                    }
    .navbar-toggler{
      font-size:2rem !important;
      margin-top: 20px;
    }


 .pptySlctdDet{
  margin-top: 10px;
 }
 .carousel-indicators li{
  width: 40px;
 }
 .pptyList .cardHdg{
  padding: 0;
 }
 .pptyList .cardHdg .txt4{
  font-size: 18px;
  margin-bottom: 0;
 }
 .pptyList .cardHdg .hrLine1{
  width: 15px;
 }
 


.bckgrd .socMedia1 img{
 width: 50%!important;
}
.bckgrd h3{
  font-size: 22px;
  }
.bckgrd p{
  font-size: 13px;
}
.blogItem2 h4{
  font-size: 20px;
}
.shrPrnt img{
  width: 50%;
}
.footerMainCol1 p{
  padding-right: 0;
}
.pptyPage{
  height: 80px;
}
.navbar-toggler:focus, .navbar-toggler:hover{
  outline: white!important;
}
.contactUsMsg{
  padding: 0;
}
.cntHdr{
  padding: 100px 15px 5px 15px;
}
.cntHdr h4{
  font-size: 16px;
}
.contactUsMsg .form-control{
  font-size: 12px;
}
.subtn .btn-success{
  padding: 7px 20px;
    font-size: 12px;
}
.cntImg{
  display: none;
}

.contactUsMsg textarea.form-control{
  height: 150px;
}
.cntusTxt .sptxt1{
  padding-left: 23px;
}
.cntusTxt img{
  width: 16px;
}
.cntusTxt span{
  font-size: 9px;
}
.bnnrHeadingServices h3{
  font-size: 6vw;
  padding-left:30px;
  margin-top:50px;
}
.servDet{
  margin: 0;
}

.r1 img{
  margin-top: 30px;
}
.servCont{
  margin: 20px 0;
}
#content{
  height: 800px;
    width: 100%;
}
.example, #myDIV {
    height: 280px;
    width: 100%;
    
    padding: 0px 10px;
    margin: 10px 0px;
}
.enqMsg{
  padding: 15px;
}

.enqMsg legend{
  font-size: 26px;
}
.enqMsg .form-control{
  font-size: 13px;
}
.clr1{
  margin-bottom: 20px;
  top: 0;
  left: 30%;
    width: 40vw;
    height: 40vw;
}
.clr1 h3{
  font-size: 6vw;
}
.headingRE , .headingRE2 {
    padding: 0;
}
.headingRE h4, .headingRE2 h4{
  font-size: 18px;
  text-align: center;
}
.headingRE h6, .headingRE2 h6{
  font-size:16px;
}
.ourVentures h2{
  text-align: center;
}
.sec1 .climb img{
  height: 200px;
  margin-bottom: -70px;
  margin-right: -50px;
}
}

@media (min-width: 768px){
  .smHdg{
    display: none;
  }
  .rbn .smdevice, .rbntop .smdevice {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px){ 
.finrasHeader{
padding-right:35px !important;

}


}



@media (min-width: 768px) and (max-width: 991px){ 
  .fin_nav {
    padding: 30px 30px;
  }

    .fin_nav .navbar-nav .nav-link{
          font-size: 14px;
          letter-spacing:0;
        padding: 0px 7px;
    }
    .search-form .form-group input.form-control{
      font-size: .8rem;
      padding-bottom: 17px;
    }
    .search-form .form-group {
      width: 25px;
    height: 25px;
    }
    .search-form .form-group span.form-control-feedback {
      width: 25px;
    height: 25px;
    line-height: 25px;
    }
    .navbar-brand img {
    width: 200px !important;
    height: 100px !important;}
   .fb .sdevice{
    display: none;
  }
   .fb .ldevice{
    display: none;
  }
   .rbntop .rbn{
    top:100px;
  }
  .txtPdng{
  padding-left: 45px;
}
.abtUs h2{
  margin:5px;
 }
  .abtUs p{
    font-size: 12px;
  }
.imageBordr .septr {
  height: 55px;}

  


.rbn .bnnrHeadingServices{
  padding: 10px 30px;
}
.rbn .bnnrHeadingServices h3{
font-size: 30px;
padding-left: 0;
}


.bnnrHeading h3 {
    font-size: 28px;
}

.bnnrHeading p {

    font-size: 15px;
}
.footerMainLinks .list-group li {
font-size: 8px;
}
.mediaIcons i {
    padding-right: 10px;}

.cardCol{
  padding: 10px 10px;
}
.card{
  padding: 10px;
}

.card img {
height: 65px;}

.card-body{
  padding: 8px;
  height: 190px;
 }

 .card-body h6{
  padding-right: 0;
 }
 .card-body p{
  font-size: 13px;
 }
.hd1{
  padding-left: 0;
}
.hd1 h4{
  margin: 10px;
    padding: 100px 0;
    font-size: 22px;
}
.sec1 .climb{
  right: 35px;
}

.sec1 .climb img {
    height: 300px;
}
.pptySlctdDet{
  padding-left: 0px;
}
.shrPrnt img{
  width: 55%;
}
.txt3{
  font-size: 18px;
  }
.txt5{
  font-size: 17px;
  margin-bottom: 3px;
}
.txt6{
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}
.txt9{
  font-size: 11px;
}
.contactUsMsg{
  padding: 0px 40px 10px 20px;
}
.cntHdr {
  padding-left: 25px;
}

.cntHdr h4{
   font-size: 19px;
   margin-left:20;

}
.contactUsMsg .col-md-offset-3{
  padding-right: 5px;
    padding-left: 5px;
}

.contactUsMsg .form-control{
  font-size: 12px;
}
.contactUsMsg .form-group{
  margin-bottom: .5rem !important;
}

.contactUsMsg textarea.form-control{
  height: 130px;
}
.subtn .btn-success{
  padding: 7px 20px;
    font-size: 12px;
  }
  .cntImg {
    margin-bottom: 50px;
  }

.cntusTxt .sptxt1{
  padding-left: 25px;
}
.cntusTxt img{
  width: 18px;
}
.cntusTxt span{
  font-size: 13px;
}
.example, #myDIV {
    
    width: 100%;
    padding: 0px 20px;
     
}
#content {    
    width: 100%;
}
#content p{
  font-size: 12px;
}
.enqMsg{
  padding: 20px;
}
.enqMsg .enqCol{
  padding: 0;
}
.servImg{
  padding: 60px 0;
}
 .contHeight1{
  height: 275px !important;
}
 .contHeight2{
  height: 215px !important;
}
.servDet{
margin: 20px;
}
.r1{
padding-top:15px;
}
.headingRE {
    padding: 0 15px;
}
.headingRE h4, .headingRE2 h4{
  font-size: 20px;
}
.headingRE h6, .headingRE2 h6{
  font-size:16px;
}

.headingRE2{
      padding: 0 5px;
}

}

@media (min-width: 992px){
  .fb .sdevice{
    display: none;
  }
   .fb .mdevice{
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1024px){
  .fin_nav {
    padding: 30px 80px;}
    .fin_nav .navbar-nav .nav-link {
      font-size: 14px;
    }
    .search-form .form-group input.form-control{
      font-size:.8rem;
      padding-bottom: 18px;
    }
    .search-form .form-group {
      width: 28px;
    height: 28px;
    }
    .search-form .form-group span.form-control-feedback {
      width: 28px;
    height: 28px;
    line-height: 28px;
    }
    .navbar-brand img {
    width: 200px !important;
    height: 150px !important;}
  .rbntop .rbn{
    top:110px;
  }
   .contactUsMsg {
    padding: 0px 20px;
}
    .cntHdr{
      padding:150px 25px 5px 35px;
    }
    .cntusTxt span{
       font-size: 14px;
    }
     .card-body p{
  font-size: 13px;
 }
 .hd1 h4{
  padding: 75px 50px 75px 0;
 }
  .txt6{
    margin-top: 0px;
  }
  .txt9{
    font-size: 14px;
  }
 .servImg{
  padding: 27px 0;
}
.example, #myDIV {
        
    width: 100%;
    padding: 0px 20px;
   
}
.contHeight1{
  height: 370px !important;
}
#content {    
    width: 100%;
}
#content p{
  font-size: 15px;
}

.bnnrDet{
  margin-left: 30px;
}
.rbn .bnnrHeadingServices{
  padding: 20px 30px;
}
.rbn .bnnrHeadingServices h3{
padding-left:0;
}
.headingRE, .headingRE2{
  padding: 0 15px;
}
.abtUs h2{
  margin:15px;
 }
  .abtUs p{
    font-size: 13px;
  }
 
}


@media (min-width: 1025px){
   .fin_nav {

    padding: 30px 85px;
  }

    .fin_nav .navbar-nav .nav-link {
      font-size: 15px;
    }
  .servImg{
  padding: 30px 0;
  }
   .hd1 h4{
  padding: 75px 50px 75px 0;
 }
 }


 @media (min-width: 1200px){

  .sec1:before{
 
    transform: skewY(-3deg);
  }
   
  .sec2:before{
 
    transform: skewY(3deg);
  }

}
